{{ define "main" }}

<div class="home-container">
    <!-- LEFT SIDE: Short Bio & Academic Social Identifiers -->
    <div class="info">
        <h1>Hi, I'm Prince Foysal,</h1>
        <h2>B.Sc. in EEE, RUET.</h2>
        &nbsp;
        <p class="bio">
            An aspiring researcher whose interests include <i id=""><b>Power Systems, Renewable Energy, Photonics, and Machine Learning.</i></b></i> Also interested in <i id=""><b>Embedded Systems, Semiconductor Manufacturing Processes, and Scientific Computation.</b></i>    
        </p>
        &nbsp;
        <!-- Academic & Social Links Grid -->
        <h3>Find me on</h3>
        <div class="academic-links">
            <a href="mailto:princefoysal0003@gmail.com"><img width="40px" src="https://ssl.gstatic.com/ui/v1/icons/mail/logo_loading_2x.png"></img></a>
            <a href="https://www.linkedin.com/in/prince-foysal-bb4991227/" target="_blank" rel="noopener noreferrer" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            <a href="https://scholar.google.com/citations?user=pdm0fzwAAAAJ&hl=en" target="_blank" rel="noopener noreferrer" title="Google Scholar"><i class="fab fa-google-scholar"></i></a>
            <a href="https://orcid.org/0009-0003-7659-575X" target="_blank" rel="noopener noreferrer" title="ORCID"><i class="fab fa-orcid"></i></a>
            <a href="https://www.researchgate.net/profile/Prince-Foysal" target="_blank" rel="noopener noreferrer" title="Researchgate"><i class="fab fa-researchgate"></i></a>
            <a href="https://github.com/princeFoysal0003" target="_blank" rel="noopener noreferrer" title="Github"><i class="fab fa-github"></i></a>

        </div>

    </div>
    <!-- RIGHT SIDE: Profile Photo -->

    <img id="profile_photo" src="/images/profile_picture.jpg" alt="Your Portrait">

</div>

<!-- <div style="display:flex; justify-content: center;">
    <a href="#portfolio" class="view-portfolio">
        View My Portfolio <br>
        <i class="fas fa-caret-down"></i>
    </a>
</div>

<div id="portfolio" class="portfolio-container">
    <div class="item span-2">Row-1 Item-1</div>

    <div class="item span-1">Row-2 Item-1</div>
    <div class="item span-1">Row-2 Item-2</div>
</div> -->

{{ end }}
